/* Empty. Add your own CSS if you like */

@media (max-width:360px){html{font-size:10px;}}
@media (min-width:361px) and (max-width:399px){html{font-size:11px;}}
@media (min-width:400px) and (max-width:439px){html{font-size:12px;}}
@media (min-width:440px) and (max-width:479px){html{font-size:13px;}}
@media (min-width:480px) and (max-width:519px){html{font-size:14px;}}
@media (min-width:520px) and (max-width:559px){html{font-size:15px;}}
@media (min-width:560px) and (max-width:599px){html{font-size:16px;}}
@media (min-width:600px) and (max-width:639px){html{font-size:17px;}}
@media (min-width:640px) and (max-width:679px){html{font-size:18px;}}
@media (min-width:680px) and (max-width:719px){html{font-size:19px;}}
@media (min-width:720px) and (max-width:759px){html{font-size:20px;}}
@media (min-width:760px) and (max-width:799px){html{font-size:21px;}}
@media (min-width:800px) and (max-width:839px){html{font-size:22px;}}
@media (min-width:840px) and (max-width:879px){html{font-size:23px;}}
@media (min-width:880px){html{font-size:24px;}}

body, html {
    width: 100%;
    height: 100%;
    
}

.wrap {
    width: 100%;
    height: 91%;
    overflow:auto;
    position: relative;
}

.common-headerbar {
	background-color: #FFD9EC; 
	height: 9%; 
	color: #003399; 
	padding: 0 5%; 
	width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}

.common-headerbar i {
  font-size: 1.4em;
}

.home-title {
  width: 100%; 
  height:60%; 
   display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 2em;
  
}

.home-category {
  width:100%;  
  height: 40%; 
  padding: 5% 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-list {
  width:20%; 
  height : 100%; 
  background-color: pink; 
  float:left;
   display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-weight: bold;
  margin: 0 2%;
}


#section1 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
#section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
#section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
#section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
#section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}

.fixed-header {
  background-color:black;
  height: 50px;
  position: fixed;
  width:100%;
  color:white;
  z-index:1000;
}

.fixed-header > div {
  display: inline-block;
  margin: 5px 15px;
}

.aa {
  position:relative;
}

.scroll {
  margin-top: 50px;
}







ion-slides {
  overflow: visible ;
  width: 90% ;
  padding-top: 3%;
}

.swiper-wrapper {
  position: relative;
}

.swiper-container {
  overflow: inherit ;
}

.swiper-slide {
  /*opacity: 1 ;*/
  transform: scale(0) !important;
  /*transition: transform .5s, opacity .5s;*/
}

.swiper-slide-active {
  /*opacity: 1 ;*/
  transform: scale(1) !important;
}

.swiper-slide-next,
.swiper-slide-prev {
  /*opacity: 0 ;*/
  transform: scale(1) ;
}